<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Loyc.Collections" version="29.0.3" targetFramework="net48" />
  <package id="Loyc.Essentials" version="29.0.3" targetFramework="net48" />
  <package id="Loyc.Interfaces" version="29.0.3" targetFramework="net48" />
  <package id="Loyc.Syntax" version="29.0.3" targetFramework="net48" />
</packages>